<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
	
	<bean id="addr" class="com.demo.model.Address">
		<property name="street" value="main road"></property>
		<property name="city" value="atpadi"></property>
	</bean>
	<bean id="u" class="com.demo.model.User" >
		<property name="id" value="1"></property>
		<property name="name" value="rohit"></property>
		<property name="addr" ref="addr"></property>
	</bean>	
	
</beans>
